@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
        url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    min-height: 100vh;
    line-height: 1.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* border: 0.5px solid grey; */
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.subContainer {
    display: flex;
    flex-grow: 1;
}

.leftContainer {
    background-image: url(./images/leaf.jpg);
    background-size: cover;
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner {
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    margin-top: 20vh;
    padding: 10px;
}

.title {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'norsebold';
    font-size: xx-large;
}

#logo {
    width: 100px;
}

.photoAuthor {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.photoAuthor p,
.photoAuthor a {
    color: white;
}

.rightContainer {
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formHeader,
.formMain,
.formFooter {
    padding: 5% 15% 5% 20px;
}

.formHeaderContent {
    margin-right: 10%;
    font-size: 20px;
}
.formHeaderContent h4:first-child {
    padding-bottom: 30px;
}

.formMain {
    background-color: white;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.formMainContent h3 {
    padding-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form div {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    margin-bottom: 15px;
}

@media (max-width: 1000px) {
    form div {
        margin-right: 40px;
    }
}

@media (min-width: 1200px) {
    form div {
        margin-right: 80px;
    }
}

#createBtn {
    -webkit-appearance: none;
    border: none;
    padding: 16px 8px;
    border-radius: 1rem;
    background-color: #596D48;
    color: white;
    font-size: 16px;
    border: 1px solid white;
    margin-bottom: 25px;
    box-shadow: 0px 0px 3px 1px rgb(178 178 178);
}

#createBtn:hover {
    color: #596D48;
    background-color: white;
    border: 1px solid black;
}

.formFooterContent p a {
    color: #596D48;
    font-weight: bold;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

input:required:invalid {
    border-color: red;    
}

input {
    -webkit-appearance: none;
    border-radius: .2rem;
    line-height: 28px;
    border: 0.5px solid grey;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    margin-top: 5px;
}

input:valid {
    border-color: blue;
}


input:hover{
    background-color: rgb(240, 240, 240);
}

input:focus, input:active {
    background-color: rgb(224, 224, 224);
}